HOST=
PORT=0


ACCESS_CONTROL_ALLOW_ORIGINS=

REMOTE_DB_DRIVER=
REMOTE_DB_HOST=
REMOTE_DB_PORT=0
REMOTE_DB_USER=
REMOTE_DB_PASSWORD=
REMOTE_DB_NAME=

LOCAL_DB_DRIVER=
LOCAL_DB_HOST=
LOCAL_DB_PORT=0
LOCAL_DB_USER=
LOCAL_DB_PASSWORD=
LOCAL_DB_NAME=

MMDPAWN_ENCRYPT_PW=
MMDPAWN_API_URL=

ODOO_URL=
ODOO_DB=
ODOO_USER=
ODOO_PASSWORD=
ODOO_TIMEOUT=30

TRANSFER_BATCH_LIMIT=10
TRANSFER_MAX_TRIES=3
TRANSFER_POLL_INTERVAL=30
ODOO_FAKE_BARCODES=False

TRUST_PROXY=False
PYTHON_ENV=development
LOG_LEVEL=info