HOST=
PORT=0


ACCESS_CONTROL_ALLOW_ORIGINS=

REMOTE_DB_DRIVER=
REMOTE_DB_HOST=
REMOTE_DB_PORT=0
REMOTE_DB_USER=
REMOTE_DB_PASSWORD=
REMOTE_DB_NAME=

LOCAL_DB_DRIVER=
LOCAL_DB_HOST=
LOCAL_DB_PORT=0
LOCAL_DB_USER=
LOCAL_DB_PASSWORD=
LOCAL_DB_NAME=

MMDPAWN_ENCRYPT_PW=
MMDPAWN_API_URL=

TRUST_PROXY=False
PYTHON_ENV=development
LOG_LEVEL=info